.default-wrapper {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--el-border-color) inset;
  padding: 0 12px;
  line-height: 32px;
  cursor: no-drop;
  color: var(--el-input-text-color, var(--el-text-color-regular));
}