.hl-context-menu-item{
  padding: 9px 10px;
  text-align: center;
  min-width: max-content;
  min-width: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}

.hl-context-menu-item:hover{
  background-color: var(--el-color-primary-light-9);
  cursor: pointer;
  color: var(--color-primary) !important;
}

.context-menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  background-color: #fff;
  border: 1px solid var(--el-border-color-light);
  box-shadow: 0 0 5px var(--el-border-color-light);
  border-radius: 5px;
  padding: 10px 0;
  color: gray;
}