.hl-custome-dialog {
  position: absolute;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0;
  height: fit-content;
  padding: 0 !important;

  --padding:10px 20px;

  .el-dialog__header {
    padding: 12px 25px !important;
    background-color: #e8f0ff;
    margin-right: 0 !important;
    min-height: 48px;

    .el-dialog__title {
      font-size: 16px !important;
      font-weight: bold;
    }

    .el-dialog__headerbtn {
      top: 2px;
      height: 48px;
      font-size: 24px;

      .el-dialog__close {
        color: gray;
      }
    }
  }

  .el-dialog__body {
    overflow-y: auto;
    padding: var(--padding) !important;
  }

  .el-dialog__footer {
    border-top: 1px solid #d2dff4;
    padding: 20px !important;
  }
}