.hl-icon-select {
  .placholder-item {
    color: gray;
  }

  /*滚动条整体样式*/
  /*高宽分别对应横竖滚动条的尺寸*/
  .icon-content::-webkit-scrollbar {
    height: 10px;
    width: 2px;
  }

  /*滚动条里面小方块*/
  .icon-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }

  /*滚动条里面轨道*/
  .icon-content::-webkit-scrollbar-track {
    border-radius: 2px;
  }

}

.hl-icons-wrapper {
  font-size: 24px;
  max-height: 400px;
  display: flex;
  flex-direction: column;

  .icon-content {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
  }

  $height: 40px;

  .icon-item {
    width: $height;
    height: $height;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    margin: 8px;
    cursor: pointer;
  }

  
  .btn-wrapper{
    text-align: right;
    border-top: 1px solid #eee;
  }
}