.hl-search-page {
  padding: 10px;
  padding-top: 10px;
  height: 100%;
  overflow-y: auto;

  .search-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5px;
    position: relative;

    &>* {
      margin: 5px;
    }

    .hl-search-page-arrow{
      transition: all linear 0.2s;
    }

    .up-arrow{
      transform: rotate(180deg);
    }
  }

  .bottom {
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .table-body {
      width: 100%;
      flex: 1;
      overflow: auto;
      padding: 10px;
      background-color: white;
    }
  }

  .fixed-button {
    height: 32px;
    flex-grow: 1;
    text-align: right;
  }

  .advanced-area{
    transition: all linear 0.3s;
    height: 0;
    overflow-y: hidden;
    margin: 0;
  }

  .advanced-btn{
    user-select: none;
  }
}