.ql-editor-wrapper {
  word-break: break-all;

:deep(.ql-editor) {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}

:deep(.ql-toolbar) {
  .ql-picker-label {
    display: flex;
  }

  .ql-picker.ql-header {
    width: 70px;

    .ql-picker-label::before,
    .ql-picker-item::before {
      content: '普通';
    }

    .ql-picker-label[data-value='1']::before,
    .ql-picker-item[data-value='1']::before {
      content: '标题一';
    }

    .ql-picker-label[data-value='2']::before,
    .ql-picker-item[data-value='2']::before {
      content: '标题二';
    }

    .ql-picker-label[data-value='3']::before,
    .ql-picker-item[data-value='3']::before {
      content: '标题三';
    }

    .ql-picker-label[data-value='4']::before,
    .ql-picker-item[data-value='4']::before {
      content: '标题四';
    }

    .ql-picker-label[data-value='5']::before,
    .ql-picker-item[data-value='5']::before {
      content: '标题五';
    }

    .ql-picker-label[data-value='6']::before,
    .ql-picker-item[data-value='6']::before {
      content: '标题六';
    }
  }

  .ql-picker.ql-size {
    width: 70px;

    .ql-picker-label::before,
    .ql-picker-item::before {
      content: '普通';
    }

    .ql-picker-label[data-value='small']::before,
    .ql-picker-item[data-value='small']::before {
      content: '小';
    }

    .ql-picker-label[data-value='large']::before,
    .ql-picker-item[data-value='large']::before {
      content: '中';
    }

    .ql-picker-label[data-value='huge']::before,
    .ql-picker-item[data-value='huge']::before {
      content: '大';
    }
  }
}

.ql-snow .ql-tooltip::before {
  content: '链接';
}

.ql-snow .ql-tooltip a.ql-action::after {
  content: '编辑';
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: '保存';
}

.ql-snow .ql-tooltip a.ql-remove::before {
  content: '移除';
}

}
