
.hl-checkbox {
  .el-checkbox {
    margin-right: 10px;
  }

  .el-checkbox:last-child {
    margin-right: 0;
  }
}

.hl-checkbox-line-item {
  width: 100%;

  .el-checkbox {
    width: 100%;
    margin-right: 0;

    .el-checkbox__label {
      white-space: break-spaces;
      line-height: 20px;
    }
  }
}

.hl-checkbox-readonly-group {

  .el-checkbox {
    display: none;
    cursor: inherit;

    &.is-checked {
      display: inline-flex;
    }

    .el-checkbox__input {
      display: none;
    }

    .el-checkbox__label {
      color: inherit !important;
      cursor: inherit !important;
    }
  }
}