$arrow_width: 10px;

.hl-context-menu {
  width: fit-content;
  height: 64px;
  position: fixed;
  border-radius: 5px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, calc($arrow_width / 2));
  z-index: 999999;

  .arrow {
    width: $arrow_width;
    height: $arrow_width;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 8;
  }
  
  .arrow::before {
    content: ' ';
    position: absolute;
    width: $arrow_width;
    height: $arrow_width;
    border: 1px solid var(--el-border-color-light);
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    background-color: #fff;
    transform: rotate(45deg);
  }
}

.hl-context-menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  background-color: #fff;
  border: 1px solid var(--el-border-color-light);
  box-shadow: 0 0 5px var(--el-border-color-light);
  border-radius: 5px;
  padding: 10px 0;
  color: gray;
}