.hl-pagination-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .info {
    font-size: 14px;
    color: #666;

    .num {
      margin: 0 3px;
    }
  }
}