.hl-search-page {
  padding: 10px;
  padding-top: 10px;
  height: 100%;
  overflow-y: auto;

  .search-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5px;
    position: relative;

    & > :deep(*) {
      margin: 5px;
    }
  }

  .bottom {
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .table-body {
      width: 100%;
      flex: 1;
      overflow: auto;
      padding: 10px;
      background-color: white;
    }
  }

  .fixed-button {
    height: 32px;
    overflow: hidden;

    & > .button-wrapper {
      position: absolute;
      bottom: 10px;
      right: 0;
      display: flex;
      align-items: center;
    }
  }

  .fixed-button::before {
    content: ' ';
    width: v-bind('fixed_btn_style.width');
    height: v-bind('fixed_btn_style.height');
    display: block;
    z-index: -1;
  }
}