@use "../image/Index.scss";

.file-preview-wrapper {
  display: flex;
  flex-wrap: wrap;

  :deep(.preview-item) {
    margin-right: 5px;
    margin-bottom: 5px;

    &:last-child,
    &:last-child {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }
}