:export {
  // 版本号：每次更换默认主题需要更新
  version: 1;

  // 主题色
  color-primary: #5692ff;
  color-success: #4bcc8b;
  color-warning: #ff8e56;
  color-danger: #ff5656;
  color-info: #babdc6;

  // 背景色
  bg-color: #F5F6F6;

  // 导航栏背景色
  tab-bg: #fff;
  // 导航栏高度
  tab-height: 50px;
  // 导航栏文字高亮颜色
  tab-light-color: #5692ff;

  // 侧边栏背景色
  side-bg: #fff;
  // 侧边栏文件高亮颜色
  side-light-color: #5692ff;
  // 侧边栏宽度
  side-width: 180px;
  // 侧边栏el-menu-item的高度
  side-menu-item-height: 45px;
}


:root{
  --side-menu-item-height:45px;
}