/**
  * 每个项目的自定义通用样式
 **/

// 分页
.el-pagination {
  .btn-prev,
  .number,
  .btn-next {
    border: 1px solid #dedede;
    background-color: white !important;
  }

  .number.is-active {
    border-color: #2950b8;
    color: #555555 !important;
    font-weight: normal;
  }
}


.home-admin-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 0;

  .home-admin-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 10px;
  }
}
